<h2>ハッシュタグ #<%= @hashtag.hashname %></h2>
  <div class= "hashtag-name">
    <% @hashtags.sort.reverse.each do |count| %>
        <% count[1].each do |hashtag| %>
            <p><%= link_to  "##{hashtag.hashname} (#{hashtag.posts.count}) 件","/post/hashtag/#{hashtag.hashname}",data: {"turbolinks" => false} %>
            </p>
        <% end %>
    <% end %>
  </div>
    <ul>
        <% @post.each do |t| %>
        <li>
            <%= t.meet %>
        </li>    
        <% end %>
    </ul>
    
<%= link_to 'Back', posts_path %>